#container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    height: 800px;
}
.logo {
    height: 130px;
    width: 400px;
    size: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 0% 0% 0% 33%;


}

/*#bar {
    border-bottom: 1px grey;
    border-top: 1px grey;
    border-right: 1px grey;
    border-left: 1px grey;
    border-style: ridge;
    bottom: -500px
    text-align: center;
    width: 500px;
    margin: auto;
    align-items: center;
    height: 50px;



}*/

#bar {
    padding: 0% 0% 0% 28%;
}

#searchbar {
    width: 150px;
    height: 23px;
    position: absolute;
    left: 10%;
    font-size: 12px
    margin: auto;
    padding: 0% 0% 0% 30%;
}

#soLucky {
    padding: 0% 0% 0% 50%;
}






#footer {
    text-align: left;
    margin: 0px auto;
    padding: 0px;
    width: 600px;
    
}

#fBorder {
    border-bottom: 1px #666;
    border-top: 1px #666;
    border-style: solid;
    width: auto;

}

.fpartAbout {
    float: left;
    width: 10%;
    color: #666;
    text-decoration: none;
}

.fpartAd {
    margin-left: -50%;
    float: left;
    width: 25%;
    color: #666;
    text-decoration: none;

}

.fpartBusiness {
    float: left;
    width: 10%;
    color: #666;
    text-decoration: none;

}

#tabs {
  position: relative;
  text-align: right;
}

#footerII {
    text-align: right;
    margin: 0px auto;
    padding: 0px 0px 0px 50px;
    width: 600px;
    text-decoration: none;

}

.fpartT {
    margin-right: -7%;
    float: right;
    width: 0%;
    color: #666;
    text-decoration: none;
    
}

.fpartP {
    margin-right: -40%;
    float: left;
    width: 75%;
    color: #666;
    text-decoration: none;

}

.fpartS {
    margin-right: -40%;
    float: right;
    width: 25%;
    color: #666;
    text-decoration: none;
    }